@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-sans: "Cairo", sans-serif;
}

body {
  font-family: "Cairo", sans-serif;
}